<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.irshad.sensorgauge">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="Gauge activity"
            android:name=".GaugeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.irshad.sensorgauge.MainActivity" />
        </activity>
        <activity
            android:label="Node List"
            android:name=".NodeList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.irshad.sensorgauge.MainActivity" />
        </activity>
        <activity
            android:label="Property List"
            android:name=".PropList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.irshad.sensorgauge.NodeList" />
        </activity>
        <activity
            android:label="Save activity"
            android:name=".SaveActiv" >

        </activity>
        <activity
            android:label="Configure activity"
            android:name=".Config" >

        </activity>
        <activity
            android:label="Load activity"
            android:name=".LoadList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.irshad.sensorgauge.MainActivity" />
        </activity>
    </application>

</manifest>